.InputPage {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 1000px;
  height: calc(100vh - 8px * 2);
  max-height: 400px;
  margin: 0 auto;
}

.bottom-toolbar {
  display: flex;
  gap: 4px;
  width: 100%;
  padding: 4px;
  overflow-x: auto;
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  border-top: 0;
}

@media (max-width: 350px), (max-height: 200px) {
  .bottom-toolbar {
    display: none;
  }
}
