.InputPage {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 1000px;
  height: calc(100vh - 8px * 2);
  max-height: 400px;
  margin: 0 auto;
}

.ime-input-container {
  position: relative;
  height: 100%;

  & .ime-textarea {
    width: 100%;
    height: 100%;
  }
}

.bottom-toolbar {
  display: flex;
  gap: 4px;
  width: 100%;
  padding: 4px;
  overflow-x: auto;
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  border-top: 0;
}

.setting-button {
  margin-left: auto;
}
