.expand-icon {
  width: 24px;
  height: 24px;
  background: url('./../../../assets/arrow-expand-all.svg');
}

.collapse-icon {
  width: 24px;
  height: 24px;
  background: url('./../../../assets/arrow-collapse-all.svg');
}
